# Sample usage of the %collect line magic

Load the magics:

In [1]:
%load_ext sparkmagic.magics

Create a new python session:

In [2]:
%manage_spark

MagicsControllerWidget(children=(Tab(children=(ManageSessionWidget(children=(HTML(value='<br/>'), HTML(value='No sessions yet.'))), CreateSessionWidget(children=(HTML(value='<br/>'), Dropdown(description='Endpoint:', options={'http://spark:8998': <sparkmagic.livyclientlib.endpoint.Endpoint object at 0x7f19a52a7f60>}, value=<sparkmagic.livyclientlib.endpoint.Endpoint object at 0x7f19a52a7f60>), Text(value='session-name', description='Name:'), ToggleButtons(description='Language:', options=('scala', 'python', 'python3'), value='scala'), Text(value='{"driverMemory": "1000M", "executorCores": 2}', description='Properties:'), HTML(value='<br/>'), SubmitButton(description='Create Session', style=ButtonStyle()))), AddEndpointWidget(children=(HTML(value='<br/>'), Text(value='http://example.com/livy', description='Address:'), Dropdown(description='Auth type:', options={'Kerberos': 'Kerberos', 'Basic_Access': 'Basic_Access', 'None': 'None'}, value='Kerberos'), Text(value='username', description='Username:', layout=Layout(display='none')), Text(value='password', description='Password:', layout=Layout(display='none')), HTML(value='<br/>'), SubmitButton(description='Add endpoint', style=ButtonStyle()))), ManageEndpointWidget(children=(HTML(value='<br/>'), HTML(value='Endpoint'), VBox(children=(HTML(value='<hr/>'), HBox(children=(VBox(children=(HTML(value='No sessions on this endpoint.'), HBox(children=(Text(value='0', description='Session to delete:'), Button(description='Delete', style=ButtonStyle()))))), Button(description='Clean Up', style=ButtonStyle()), Button(description='Remove', style=ButtonStyle()))))), HTML(value='<br/>')))), _titles={'0': 'Manage Sessions', '1': 'Create Session', '2': 'Add Endpoint', '3': 'Manage Endpoints'}),))

Starting Spark application

SparkSession available as 'spark'.

Create sample data in the remote spark cluster

In [3]:
%%spark
from pyspark.sql.functions import *
# make some test data
columns = ['id', 'dogs', 'cats']
vals = [
     (1, 2, 0),
     (2, 0, 1)
]

vals2 = [
     (1, 2, 0),
     (3, 1, 2)
]

# create DataFrame
df1 = spark.createDataFrame(vals, columns)
df2 = spark.createDataFrame(vals2, columns)
df1.registerTempTable("dfn")

Now, we use the %collect line magic to retrieve the dataframes. We do this by looping through the dataframe names.

In [5]:
dfList = ["df1", "df2"]
for d in dfList:
    %collect -o $d -n -1

As we can see, the dataframes are now in the local namespace

In [6]:
df1

   id  dogs  cats
0   1     2     0
1   2     0     1

In [7]:
df2

   id  dogs  cats
0   1     2     0
1   3     1     2

We can also execute sql code within the %collect line magic by specifying the "-c sql" option.

In [ ]:
%collect -c sql -o df1 select * from dfn